<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Beranda | Buku.gan</title>
  </head>

  <body>
    <nav>
      <a href="/tambahbuku">Tambah Buku</a>
      <a href="/listbuku">Daftar Buku</a>
      <a href="/logout">Logout</a>
    </nav>
    <br />
    <center>
      <h1>Buku.gan</h1>
      <h1>Selamat datang!</h1>
      <br />

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati sint
        facilis voluptates inventore nihil nostrum pariatur est tenetur ratione
        veritatis, accusamus facere assumenda possimus incidunt, officia illum
        aliquid eveniet explicabo? Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Maiores est nulla impedit? Voluptate nisi magnam a
        eveniet sunt hic illum unde necessitatibus cum ut tempore, fugit nemo
        laborum officia saepe. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Cum natus esse provident nesciunt? Sunt itaque
        eligendi excepturi amet. Eius nobis culpa soluta harum sed atque tempora
        inventore, id amet maxime eos est earum neque! Totam esse nemo iure
        aliquam consequuntur possimus sint est. Perferendis eaque tempora
        voluptate, ea excepturi natus voluptatibus nihil asperiores dolor
        voluptates deleniti ut laboriosam modi pariatur optio voluptatem officia
        facere quam a laudantium inventore. Aspernatur sapiente sint,
        repellendus necessitatibus consectetur modi, vel sit architecto quo
        dolore atque, nisi quae! Atque quasi sed beatae nobis. Nemo beatae aut
        incidunt officia eveniet aliquid dolores cum illum ducimus minus? Lorem
        ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam, ducimus
        exercitationem atque ad minima ipsum earum unde itaque non blanditiis
        velit laborum veritatis ab asperiores iure reiciendis nihil! Totam,
        autem voluptatibus! Vitae modi, adipisci consectetur cupiditate ut,
        natus quam maxime odit deleniti dolorem veniam delectus minima quidem
        sed saepe repellendus aspernatur! Nam modi, id reiciendis suscipit, sunt
        necessitatibus maxime inventore repudiandae repellat amet fuga fugit sit
        non omnis veniam eveniet aliquid facere deleniti totam voluptatum
        repellendus exercitationem voluptate ut ipsum? Ad voluptatem quo, neque
        qui nostrum quia molestias quasi facilis necessitatibus dolor pariatur,
        fuga laboriosam repudiandae odio magnam cumque non magni. Architecto
        nemo ipsa voluptate harum corporis ipsum nulla reprehenderit excepturi,
        officia voluptatem neque placeat quibusdam eius earum maiores quasi et
        fugit. Ut provident, enim culpa aspernatur consectetur quibusdam magnam
        odit ratione aut itaque reprehenderit soluta mollitia eveniet quos
        temporibus sequi distinctio non eaque? Necessitatibus deleniti earum
        omnis in ratione laboriosam, veniam voluptas voluptatem porro, rerum ad
        ab, iusto deserunt neque vel qui facere quasi nobis ipsum. Odit quam,
        dicta omnis distinctio et nam illo possimus molestiae impedit unde nulla
        quidem blanditiis facere beatae! Itaque nesciunt, distinctio temporibus
        ullam fuga ipsam. Itaque aspernatur maxime quasi incidunt nam veritatis
        exercitationem nobis!
      </p>
    </center>
  </body>
</html>
