<!DOCTYPE html>
<html lang="en">
  <body>
    <% include ./assets/navbar %>
    <h1>Beranda gan</h1>
    <h2>Tapi masalahnya</h2>
    <h3>Ini belom login</h3>
    <h4>Jadi login dulu</h4>
    <h1>agagagagagagagaga</h1>

    <p
      style="text-align: justify; text-indent: 40px; margin-left: 45px; margin-right: 4px; font-size: 20px;"
    >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni officiis
      reiciendis error dolorum voluptatem non, iste et aut aliquam deleniti
      dignissimos, corrupti in optio inventore quos quasi atque esse suscipit.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
      voluptates necessitatibus quos, eos beatae maxime molestias nulla ad ipsam
      perferendis facere quae illo quam repudiandae alias, dolore repellat
      quisquam praesentium. Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Nam officiis, dolorem accusamus incidunt iusto eligendi laboriosam
      atque omnis obcaecati tempora sit neque quam quis error illo velit
      voluptate natus nostrum? Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Recusandae assumenda, nostrum id corporis cupiditate
      corrupti fuga nemo vero aliquam consectetur nam repellendus magnam nihil
      excepturi obcaecati sapiente, minima blanditiis error! Lorem ipsum, dolor
      sit amet consectetur adipisicing elit. Fuga id architecto, ab temporibus
      unde excepturi magni nam explicabo vero labore illum officiis voluptatum
      aliquid cumque dolore veritatis voluptates optio tempore! Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Quo impedit suscipit nostrum
      dolorum. Tempore laboriosam quaerat, eius reiciendis cupiditate excepturi,
      nesciunt est omnis fugit quia fugiat, dolores sint ipsa eligendi. Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Architecto ipsa, ea,
      consequatur beatae ullam perferendis at animi est id voluptatum quas non
      accusamus, explicabo consequuntur possimus officia esse ipsum autem? Lorem
      ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis aperiam
      neque quas necessitatibus modi, ipsam itaque expedita, natus dolores
      aspernatur, nesciunt nisi magnam explicabo? Delectus itaque sit vitae
      voluptatem dolorum. Lorem ipsum dolor sit amet, consectetur adipisicing
      elit. Qui repellendus, aut vel, corporis impedit modi voluptas delectus
      nisi deserunt quae recusandae, maiores corrupti cupiditate inventore
      iusto. Accusamus distinctio quasi omnis. Lorem ipsum dolor, sit amet
      consectetur adipisicing elit. Corrupti pariatur ea optio ad aut aperiam
      sapiente corporis eos minus sint officiis esse id nisi temporibus totam
      aspernatur rerum, consequatur iure? Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Quidem officia neque iure accusantium, accusamus itaque
      perferendis, excepturi, harum totam suscipit reprehenderit ullam fugiat
      alias in consequatur minima rem assumenda! Asperiores fugiat illum
      voluptatem error, voluptas impedit non esse inventore culpa libero quaerat
      nisi qui ipsam ab debitis dolorum, fugit porro aut cum enim expedita? Quia
      impedit commodi illum, accusamus nemo maxime, tempora non, corrupti quis
      nihil corporis? Quaerat voluptas exercitationem expedita enim unde rerum
      consectetur, itaque tempora ullam quam optio quis accusantium, vitae
      aperiam incidunt reiciendis laboriosam sequi magni illo cum corporis error
      vel velit? Dolores quos inventore dolorem, excepturi totam vel voluptates
      quibusdam aliquid atque pariatur ratione hic ab sed facilis recusandae
      asperiores laborum perspiciatis repudiandae. Exercitationem, mollitia ab
      voluptatum eaque reiciendis distinctio ea adipisci fuga libero? Sit
      molestias distinctio deleniti aut assumenda delectus vero laboriosam modi.
      Sapiente esse fuga tempora dignissimos quibusdam perspiciatis, ducimus
      nemo? Eveniet, accusamus similique hic, molestiae omnis quo inventore
      ipsam libero porro voluptas reiciendis sequi vero voluptates consequatur
      explicabo quaerat repudiandae sunt quas maxime impedit incidunt, nam
      facere ratione itaque. Repudiandae consequuntur laboriosam similique, qui
      velit voluptates reprehenderit vero odit doloremque quod eveniet! Vel vero
      soluta mollitia distinctio veniam iusto qui suscipit delectus beatae ipsum
      eaque, magni accusantium, nihil nam doloremque iste cupiditate? Fugiat et
      enim vitae tenetur ipsam nulla veniam quam accusantium necessitatibus odio
      aliquam fuga unde rem eos odit nobis ut, nostrum minima. Odit, excepturi
      ea. Qui eligendi sed esse reprehenderit? Nesciunt magnam voluptas
      temporibus iusto dolorem ipsum libero neque deleniti eligendi! Minus modi
      non deleniti molestiae ab ea tenetur. Sed debitis eius dolores dicta
      sequi, inventore quaerat labore aut officia, nostrum nemo cupiditate odit
      possimus aliquid libero minus sunt? Id quam nihil nesciunt minus?
      Distinctio, possimus. Culpa voluptatem cupiditate, illum nesciunt optio
      fugit voluptate, dolore modi in neque inventore! Id distinctio enim
      accusantium praesentium eos rem. Voluptates beatae possimus quo quibusdam
      sequi, maiores dicta tenetur deleniti vero. Tenetur velit sint ad porro
      dolores vitae dolorum, cum optio, fugit reiciendis nesciunt quaerat iste
      dolor saepe quis at dignissimos nam officia voluptate quisquam accusamus
      facilis laudantium ea? Deserunt tempora voluptate ab enim atque maiores
      sapiente sed aspernatur similique, explicabo libero aut rem corporis
      suscipit eaque possimus aliquam beatae quas debitis perferendis. Eaque,
      vero ipsa earum nesciunt cumque harum porro nulla laudantium qui non
      maxime eligendi ratione suscipit ducimus hic possimus assumenda
      perspiciatis. Magnam, corrupti nihil? Dolorem cupiditate, praesentium
      deleniti ducimus iure consectetur consequatur nihil asperiores neque,
      incidunt excepturi voluptates eaque et totam hic in sapiente, molestias
      harum aut quisquam doloremque enim assumenda suscipit? Repudiandae,
      molestias voluptas sit temporibus labore nisi quo odit voluptatibus
      voluptates ullam, dicta corporis perspiciatis dolorem debitis itaque
      consectetur quaerat exercitationem illum est, deserunt iusto cupiditate
      rem amet cum. Voluptatibus, enim quae quo quis fugit eaque eius numquam
      reiciendis ullam esse sit atque, blanditiis itaque fuga beatae
      consequuntur nobis harum, perspiciatis velit id aspernatur sunt? Quam
      expedita magnam, recusandae libero repellat tempora modi accusamus.
      Reiciendis repudiandae reprehenderit placeat possimus quos suscipit! Vel
      officiis id molestias sapiente illum repellat reprehenderit nulla.
      Reprehenderit accusantium sequi ipsam asperiores iusto, accusamus
      perspiciatis magni porro consectetur assumenda minima voluptatem dolores
      aut neque, ex id optio! Sit et tempora animi sapiente. Assumenda, quidem
      vero, iusto animi rerum harum sint dolorem quam vitae laborum debitis aut
      id molestiae.
    </p>
    <br />
  </body>
</html>
