<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login | Gudang.in</title>
  </head>

  <body>
    <center>
      <h1>Login</h1>
      <h2>Silahkan login terlebih dahulu!</h2>
      <br /><br />

      <form action="authlog" method="post">
        <input type="email" name="email" placeholder="Email" /><br /><br />
        <input
          type="password"
          name="password"
          placeholder="Password"
        /><br /><br />
        <input type="submit" value="Login" />
      </form>

      <br /><br /><br /><br />
      <a href="/register">Belum ada akun?</a>
    </center>
  </body>
</html>
