<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login | Gudang.in</title>
  </head>

  <body>
    <center>
      <h1>Login</h1>
      <h2>Silahkan login terlebih dahulu!</h2>
      <br /><br />
      
      <div class="ui raised card">
  <div class="content">
    <div class="meta" style="background-image="url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fstatic.republika.co.id%2Fuploads%2Fimages%2Finpicture_slide%2Fgudang-bulog-untuk-kedelai-lokal-_190919122534-748.jpg&imgrefurl=https%3A%2F%2Frepublika.co.id%2Fberita%2Fpy4fm6370%2Fbulog-mau-bangun-gudang-kedelai-ini-tantangannya&docid=Ls6FLlkaWBCr6M&tbnid=IatcKyXBee0grM%3A&vet=10ahUKEwio5tH79tTlAhXDfn0KHeGbBlQQMwhNKAAwAA..i&w=830&h=556&safe=strict&client=ubuntu&bih=639&biw=1366&q=gudang&ved=0ahUKEwio5tH79tTlAhXDfn0KHeGbBlQQMwhNKAAwAA&iact=mrc&uact=8)">
       <form action="authlog" method="post">
        <input type="email" name="email" placeholder="Email" /><br /><br />
        <input
          type="password"
          name="password"
          placeholder="Password"
        /><br /><br />
        <input type="submit" value="Login" />
      </form>
    </div>
  </div>
</div>

      <br /><br /><br /><br />
      <a href="/register">Belum ada akun?</a>
    </center>
  </body>
</html>
