<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Daftar | Gudang.in</title>
  </head>

  <body>
    <center>
      <h1>Daftar</h1>
      <form method="POST" action="authreg">
        Nama

        <input
          type="text"
          name="nama"
          placeholder="Nama anda"
          required
          autofocus
          email
        />

        <br /><br />
        Email

        <input
          type="email"
          name="email"
          placeholder="Email anda"
          required
          autofocus
          email
        />

        <br /><br />

        Password
        <input
          type="password"
          name="password"
          placeholder="Password anda"
          required
        />
        <br /><br /><br />
        <input type="submit" value="Daftar!" />
      </form>
      <br /><br />
      <p>Punya akun?</p>
      <a href="/login">Login disini.</a>
    </center>
  </body>
</html>
