<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beranda | Gudang.in</title>
  </head>

  <body>
    <nav>
      <a href="">Eurodd</a>
      <a href="">Eurodd</a>
      <a href="">Eurodd</a>
    </nav>
  </body>
</html>
