<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beranda | Gudang.in</title>
  </head>
  <body>
    <nav>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </nav>
  </body>
</html>
